<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BB</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
  </head>




  <body>
    
    <!-- Tab links -->
    <div class="tab">
      <button class="tablinks" onclick="openTab(event, 'Status')">Info</button>
      <button class="tablinks" onclick="openTab(event, 'Charts')">Charts</button>
      <button class="tablinks" onclick="openTab(event, 'Error Log')">Errors</button>
    </div>




    <!-- Tab content -->
    <!-- Status -->
    <div id="Status" class="tabcontent-table">
      <table id="status-table" class="table">
          <tr> 
            <th> Name </th>
            <th> Value </th>
          </tr>
          <tr>
            <td> Status </td>
            <td> __status__ </td>
          </tr>
          <tr>
            <td> Battery Voltage </td>
            <td> __battery_voltage__ </td>
          </tr>
          <tr>
            <td> Array Voltage </td>
            <td> __array_voltage__ </td>
          </tr>
          <tr>
            <td> Load Voltage </td>
            <td> __load_voltage__ </td>
          </tr>
          <tr>
            <td> Charge Current </td>
            <td> __charge_current__ </td>
          </tr>
          <tr>
            <td> Load Current (A) </td>
            <td> __load_current__ </td>
          </tr>
          <tr>
            <td> Charge (W) </td>
            <td> __charge__ </td>
          </tr>
          <tr>
            <td> Daily Ah Charge </td>
            <td> __daily_ahc__ </td>
          </tr>
          <tr>
            <td> Daily Ah Load </td>
            <td> __daily_ahl__ </td>
          </tr>
          <tr>
            <td> Charge (kWh) </td>
            <td> __charge_kwh__ </td>
          </tr>
          <tr>
            <td> Daily Vb Min </td>
            <td> __daily_vb_min__ </td>
          </tr>
          <tr>
            <td> Charge State </td>
            <td> __charge_state__ </td>
          </tr>
          <tr>
            <td> CC LED State </td>
            <td> __cc_led_state__ </td>
          </tr>
          <tr>
            <td> MCC Firmware </td>
            <td> __mcc_firmware__ </td>
          </tr>
          <tr>
            <td> MCC SN </td>
            <td> __mcc_sn__ </td>
          </tr>
          <tr>
            <td> Drive RPM </td>
            <td> __drive_rpm__ </td>
          </tr>
          <tr>
            <td> Drive Status </td>
            <td> __drive_status__ </td>
          </tr>
          <tr>
            <td> Drive V </td>
            <td> __drive_v__ </td>
          </tr>
          <tr>
            <td> Drive Current (mA) </td>
            <td> __drive_current__ </td>
          </tr>
          <tr>
            <td> Drive Temperature </td>
            <td> __drive_temp__ </td>
          </tr>
      </table>
    </div>

    <!-- Voltages -->
    <div id="Charts" class="tabcontent">
      __chart_generator_canvases__
    </div>

    

    <!-- Error Log -->
    <div id="Error Log" class="tabcontent-table">
      <table id="error-table" class="table">
        <tr>
          <th> Time </th>
          <th> Error </th>
          <th> Value </th>
        </tr>
          __error_log_data__
        
        
        <!-- todo: set on in Node.js, Socket.io -->
      </table>
    </div>

    

    




    <!-- Script section -->
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script src="utils.js"></script>
    <script src="javascript/moment.js"></script>


    <!-- Tab things -->
    <script>
      function openTab(evt, cityName) {
        // Declare all variables
        var i, tabcontent, tablinks, tabcontent2;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        tabcontent2 = document.getElementsByClassName("tabcontent-table");
        for (i = 0; i < tabcontent.length; i++) {
          tabcontent[i].style.display = "none";
        }
        for (i = 0; i < tabcontent2.length; i++) {
          tabcontent2[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
          tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        // Show the current tab, and add an "active" class to the button that opened the tab
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
      }
    </script>


    <script>
      __chart_generator_scripts__
    </script>

      

      
     
      
    
  </body>
</html>